/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
overflow: hidden;
}
main{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
button{
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: red;
 border-radius: 10px;
}
button:active{
   scale: 0.95;
    } */

    *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    body{
        overflow: hidden;
        height: 100vh;
        font-family: system-ui, Arial, sans-serif;
        display:flex;
        align-items:center;
        justify-content:center;
        background: linear-gradient(180deg,#f7f8fb,#eef3ff);
    }
    main{
        height: 100vh;  
        width: 100vw;
        display:flex;
        align-items:center;
        justify-content:center;
        flex-direction:column;
        gap: 18px;
    }
    

.card p{
text-align: center;
margin-bottom : 20px;
}

.card p span{
font-weight: 600;
color: royalblue;
}

    .card{
        height: 300px;
        width: 500px;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        background-color: #f0f0f0;
        padding: 50px 20px;
    }
    .outer{
        height: 20px;
        width: 450px;
        border-radius: 50px;
        background-color: gainsboro;
        box-shadow: 0 0 10px rgba(0,0,0);
       gap: 10%;
    }
    .inner{
        height: 100%;
        width: 0%;
        border-radius: 50px;
        background-color: linear-gradient(90deg, #00c6ff, #0072ff)  ;
        background-color: rgb(78, 214, 78); /* fallback */
  
    }
 
     .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
      
     
     }
.bottom h2{
    font-size: 40px;
}

.bottom button{
    padding: 12px 25px;
   background-color: green;
   color: white;
   border-radius: 10px;
border-radius: 5px;
   font-weight: 600;
   border: 0;
}


    