 /* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 50px;
}
/* to make variable in css we use root */ 

/* :root{
    --alok: 400%;
    --gaurav: 400%;
}
body{
    background: url(https://images.pexels.com/photos/31416796/pexels-photo-31416796.jpeg);
}


.box {
    width: 100%;
    height: 100%;
    background: radial-gradient( 150px at var(--alok) var(--gaurav), white black);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  padding: 40px;

 }   */
    *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    }
    html,
    body{
        height: 100%;
        width: 100%;
    }

    body{
        background-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    p{
        color: greenyellow;
        font-size: 30px;

    }