*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
main{
    height: 100%;
    width: 100%;
    background-color:black;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: flex-start;
      flex-wrap: wrap;
}
.card{
    height: 350px;
    width: 300px;
    text-align: center;
  padding: 30px;
  border-radius: 30px;
  background-color: whitesmoke;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
h3{
    font-size: 30px;
   white-space: nowrap;
   font-weight: 300;
}   
h4{
    font-size: 15px;
    font-weight: 400;
    margin-top: 20px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    white-space: nowrap;
    margin: 10px;
  
}
p{
    
   font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Hover Effect */
.card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 12px 25px rgba(0,0,0,0.25);
}



