*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background: #111;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
    padding-top: 40px;
}

.piano {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.key {
    width: 80px;
    height: 250px;
    background: white;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0px 3px 10px rgba(255,255,255,0.3);
}

.key:active,
.key.active {
    background: #ffd700;
    transform: scale(0.95);
}