*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;

}
html,
body{
     height: 100%;
    width: 100%;
}
body{
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:black;
}
h2{
padding: 20px;
font-size: 100px;
background-color: #333 ;
border-radius: 20px;
font-family: monospace;
color: aliceblue;
}
