*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,
body{
 
   
     height: 100%;
    width: 100%;
}
body{
 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
flex-direction: column;
padding: 50px;
font-size: 100px;
background-color: grey ;
border-radius: 50px;
}