*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,
body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    height: 60%;
    width: 80% ;
    background-color: white;
   border-radius: 50px;
}
img{
    height: 80%;
    border-radius: 50px;
    width: 50%;
}