body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#box {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    border-radius: 10px;
    gap: 20px;
    margin: 20px;
}
button  :active     {
    margin-top: 20px;
    padding:  20px;
    font-size: 16px;
    gap: 30px;
    color: red;
    border-radius: 10px;
    display: flex;
     justify-content: center;
}
button :hover {
    background-color:royalblue;
    color: white;
    cursor: pointer;

}