*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
html{
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
.box {
    max-width: 300px;
    padding-inline: 10px;
    padding-bottom: 10px;
    color: whitesmoke;
  display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 0 0 60px rgb(59, 59, 199);
    background:  linear-gradient(to top left , whitesmoke , black) padding-box
     conic-gradient(from 270deg, black, rgb(41, 41, 182),) border-box;
    border: 5px solid rgb(60, 47, 177);
    margin: 10px;
}
.box img{
    width: 100%;
}
.box h1{
    text-align: center;
    font-size: 1.5rem;
}
