*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
}
.box {
    height: 250px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding: 50px;
    border: 2px solid whitesmoke;
    box-shadow: 2px 2px 5px blue;
    background:linear-gradient(blue, white) , conical-gradient(from 300deg at 50% 50%, red, yellow, lime, aqua, blue, magenta, red)   ;
}
   
